# Exceptions
!data/sample.csv

# Ignore specific file types
*.csv
*.docx

# Ignore specific files
Sample_requirements.txt
gitignore.txt

# Ignore specific folders
data/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
__pycache__/
*.log